extends layouts/layout_fi

block variables
  -const pageTitle ='Main'

  -
    var opportunitiesblock =[
      { img: 'img/icon_offers.png', alt: 'offers', text: '<p>Tarjoukset ja tilaukset.</p>&nbsp;Tee tarjouksia ja rekisteröi tilauksia, seuraa tuloja per asiakas, per tilaus.', number: '1'},
      { img: 'img/icon_invoices.png', alt: 'invoices', text: '<p>Lähtevät laskut.</p>&nbsp;Lähetä pdf-laskut ja raportit välittömästi.', number: '2'},
      { img: 'img/icon_registry.png', alt: 'registry', text: '<p>Menot ja saapuvat laskut.</p>&nbsp;Rekisteröi menot ja saapuvat laskut saadaksesi tarkan yleiskuvan menneistä, tulevista ja tällä hetkillä olevista laskuista.', number: '3'},
      { img: 'img/icon_report.png', alt: 'report', text: '<p>Rahoituslaskelma.</p>&nbsp;Seuraa rahan liikkumista helpommin. Arvioi saldoa helpommin.', number: '4'},
      { img: 'img/icon_accounting.png', alt: 'accounting', text: '<p>Erilaiset valuuttakurssit ja valuuttajäjestelmät.</p>&nbsp;Vaihda käyttämäsi valuutta asiakkaan haluamaksi valuutaksi nopeasti ja vaivattomasti.', number: '5'},
      { img: 'img/icon_offers.png', alt: 'offers', text: '<p>Tilikartta.</p>&nbsp;Sopiva ja säädettävä tilikartta avuksi kirjanpitotarpeisiin.', number: '6'},
      { img: 'img/icon_main.png', alt: 'main', text: '<p>Tilikirja.</p>&nbsp;Tee kirjanpito- ja verotusreportteja tarjoamme ohjelmiston avulla tai pyydä kirjanpitäjääsi tekemään se puolestasi.', number: '7'},
      { img: 'img/icon_copy.png', alt: 'copy', text: '<p>Koetase.</p>&nbsp;Keskeinen kuukausittainen kirjanpitoraporrti tuloslaskelmaan ja taseeseen.', number: '8'},
      { img: 'img/icon_settings.png', alt: 'settings', text: '<p>Mukautuva.</p>&nbsp;Mallit, raportit, rahoitussäännöt ja käyttäjäliittymä ovat muokattavissa työntekosi helpottamiseksi.', number: '9'}
    ]

  -
    var about_companyblock =[
      { text: 'Tpoint Oy avattiin vuonna 2014. Yrityksemme kehittää pienyritysten kirjanpitojärjestelmiä sekä tarjoaa IT-alan konsultointipalveluja. Meillä on kokemusta ja halua palvella asiakkaitamme parhaalla mahdollisella tavalla'},
      { text: 'Parannamme jatkuvasti tuotteitamme ja palveluitamme ja tarjoamme aina parhaan ratkaisun, joka tuo lisäarvoa asiakkaillemme'},
      { text: 'Taloudellisen kirjanpidon lisäksi Tpoint kehittää ja toteuttaa logistiikkaratkaisun tullivarastoille ja huolitsijoille Suomessa'}
    ]

  -
    var training =[
      { src: 'img/video/training/video1.mp4'},
      { src: 'img/video/training/video2.mp4'},
      { src: 'img/video/training/video3.mp4'},
      { src: 'img/video/training/video4.mp4'},
      { src: 'img/video/training/video5.mp4'},
      { src: 'img/video/training/video6.mp4'},
      { src: 'img/video/training/video7.mp4'},
      { src: 'img/video/training/video8.mp4'},
      { src: 'img/video/training/video9.mp4'},
      { src: 'img/video/training/video10.mp4'},
      { src: 'img/video/training/video11.mp4'}
    ]
  -
    var testimonialsvideo =[
      { text: 'Peter Vesterbacka, основатель Angry Birds', video: 'img/video/testimonials/video1.mp4'},
      { text: 'Jacquelyn, USA accountant', video: 'img/video/testimonials/video2.mp4'},
      { text: 'Quickbooks vs Xero vs Tpoint (long)', video: 'img/video/testimonials/video3.mp4'}
    ]

block content_fi
  main
    .main-page
      .top-banner#top-banner
        .inner
          .top-banner-block
            .top-banner-block-title Talous- ja
              .ui-red kirjanpito-ohjelmisto
              p pienyrityksille
            .top-banner-block-text Kokeile
              .ui-red ilmaiseksi
              | &nbsp;tärkeimmät ominaisuudet ohjelman, tutustua käyttäjäystävällinen käyttöliittymä
            .top-banner-block-buttons
              .top-banner-block-buttons-test
                a(href='https://tpoint.fi/static/login.html') Kokeile demoa
              .top-banner-block-buttons-registration
                a(href='https://tpoint.fi/static/register.html') Luo Tili
          .top-banner-scroll
            .top-banner-scroll-img
              img(src='img/icon_scroll.png', alt='scroll')
            .top-banner-scroll-text Vieritä alas
        .top-banner-img_mb
      .inner
        .opportunities
          .opportunities-title.ui-title Ominaisuudet
          .opportunities-why
            .opportunities-why-block
              .opportunities-why-block-number 9
              .opportunities-why-block-text
                .red Syy
                | Valitse meidät
            .opportunities-why-descr Tpoint on pilvipohjainen ohjelma, joka auttaa yrittäjiä seuraamaan päivittäisiä liiketoimiaan yksinkertaisella ja joustavalla ratkaisulla.
          .opportunities-block
            each opportunitiesblockitem in opportunitiesblock
              .opportunities-block-item
                .opportunities-block-item-img
                  img(src=opportunitiesblockitem.img, alt=opportunitiesblockitem.alt)
                .opportunities-block-item-text!=opportunitiesblockitem.text
                .opportunities-block-item-number=opportunitiesblockitem.number
          .opportunities-block.opportunities-slider
            .swiper-wrapper
              each opportunitiesblockitem in opportunitiesblock
                .swiper-slide
                  .opportunities-block-item
                    .opportunities-block-item-img
                      img(src=opportunitiesblockitem.img, alt=opportunitiesblockitem.alt)
                    .opportunities-block-item-text!=opportunitiesblockitem.text
                    .opportunities-block-item-number=opportunitiesblockitem.number
            .swiper-button-next
            .swiper-button-prev
            .swiper-pagination
        .cost#cost
          .cost-title.ui-title Kustannus
          .cost-descr Valitse sopiva tariffi, joka täyttää tekniset vaatimukset
          .cost-block
            .cost-block-item
              .cost-block-item-number 01
              .cost-block-item-text
                p Ilmainen jopa 200
                | merkinnät kuukaudessa
              .cost-block-item-img
                img(src='img/img3.png', alt='img3')
            .cost-block-item
              .cost-block-item-number 02
              .cost-block-item-text
                p 0,10 EUR + ALV
                | myöhemmät merkinnät
              .cost-block-item-text_abs
                p Valinnainen:
                | &nbsp;Yksittäiset ohjelman asetukset: 80 EUR + alv / tunti
              .cost-block-item-img
                img(src='img/img5.png', alt='img5')
        .training#training
          .training-title.ui-title Treenivideot
          .training-block
            .swiper-wrapper
              each trainingslide in training
                .swiper-slide
                  video(src=trainingslide.src, type='video/mp4' controls)
            .swiper-button-next
            .swiper-button-prev
            .swiper-pagination
        .testimonials
          .testimonials-title.ui-title Asiakaspalaute
          .testimonials-tab
            .testimonials-tab-text Tekstiviesti
            .testimonials-tab-video Videoarvostelut
          .testimonials-block
            .swiper-wrapper
              .swiper-slide.text
                .text-name Марианна Кок
                .text-descr Предпринематель
                .text-explanation Простота использования, хорошие отчеты и, прежде всего, отличное обслуживание клиентов позволяют вам самостоятельно заботиться о счетах и ​​упрощают финансовый мониторинг.
                .text-quote "
              .swiper-slide.text
                .text-name Паули Турунен
                .text-descr Бизнес-тренер
                .text-explanation Лучшее в Tpoint - это отчеты. Отсюда я могу мгновенно увидеть финансовое положение своей компании, а также получить все цифры, удобные для налогоплательщика.
                .text-quote "
              .swiper-slide.text
                .text-name Паули Турунен
                .text-descr Бизнес-тренер
                .text-explanation Лучшее в Tpoint - это отчеты. Отсюда я могу мгновенно увидеть финансовое положение своей компании, а также получить все цифры, удобные для налогоплательщика.
                .text-quote "
              each testimonialsvideoslide in testimonialsvideo
                .swiper-slide.video
                  .video-text=testimonialsvideoslide.text
                  video(src=testimonialsvideoslide.video, type='video/mp4' controls)
            .swiper-button-next
              p Далее
            .swiper-button-prev
              p Назад
      .about_company#about_company
        .inner
          .about_company-title.ui-title Tietoa yrityksestä
          .about_company-block
            ul
              each about_companyblockitem in about_companyblock
                li=about_companyblockitem.text
              .about_company-block-detail
                a(href='https://logistics.tpoint.fi/') Lue lisää
            .about_company-block-img
              img(src='img/img7.png', alt='img7')
      a.up(href='#header')
        .up-text Jopa
        .up-button
          img(src='img/icon_arrow_top.png', alt='arrow_top')
